:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}

.header-wrapper {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../images/banner.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
  font-weight: bolder;
}

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
  font-weight: bolder;
}

.btn-main {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
  font-weight: bolder;
  text-decoration: none;
}

.btn-main:hover {
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  transition: 0.2s ease-in-out;
}
